@import "tailwindcss";
/* @import "@picocss/pico/css/pico.min.css"; */

body {
  background-color: white;
  color: black;
}

h1 {
  font-weight: extra-bold;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
}


h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Outfit', sans-serif;
}

.tagline {
  font-size: 16px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: black;
  line-height: 1.7;
  margin-bottom: 2.5rem;
  max-width: 540px;
}

/* .divider {
  border: none;
  border-top: 8px solid #1e1e1e;
  margin: 0 0 2rem;
} */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

.button-row {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 200;
  cursor: pointer;
  border: 1px solid black;
  background-color: #d3cdcd;
  font-family: 'Outfit', sans-serif;
}

.engine, .strength, .workout {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  font-weight: 200;
  cursor: pointer;
  border: 1px solid black;
  background-color: #d3cdcd;
  font-family: 'Outfit', sans-serif;
}

.category-cards {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}